<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                        <p>
                        Welcome!!! I believe that we can build a better world with more science, programming and engineering.<br>
                        I pass my days figuring out ways that computers analize, understand and reason from visual data, such as images and videos, like we do.<br>
                        Check out my projects to get a glimpse of my work or invite me a beer to discuss &#x1f609.
                        <!--                        I started to develop software by accident and try to improve myself everyday since I firmly believe that the world will be consumed by it. -->
                        </p>
                </div>
                <div class="col-lg-4">
                        <p>
                        I am pursuing a PhD in Electrical Engineering at <a class=text-info href="http://www.kaust.edu.sa">KAUST</a>, under the supervision of <a class=text-info href="http://www.bernardghanem.com">Prof. Bernard Ghanem</a>.<br>
                        I got my BS and MS from Universidad del Norte in Colombia working with <a class=text-info href="http://www.niebles.net">Prof. Juan Carlos Niebles.</a>
                        </p>
                </div>
            </div>
        </div>
    </section>
